<ion-header>
  <!--5.6. Le asignamos al elemento 'ion-navbar' el color 'primary':-->
  <ion-navbar color="primary">
    <ion-title>
      <!--1.1. Sustituimos el título predeterminado:-->
      Sonidos APP
    </ion-title>
  </ion-navbar>
</ion-header>
<!--1.2. Borramos el contenido predeterminado y el atributo 'padding':-->
<ion-content>
  <!--2.1. Pegamos el código de una 'Avatar List' y la modificamos para nuestro uso:-->
  <ion-list>
    <!--5.3. Recorremos la propiedad 'animales' tipo 'Animal[]' con un '*ngFor':-->
    <!--6.1. Añadimos el evento 'click al botón y le pasamos, como parámetro, el 'animal'-->
    <ion-item *ngFor="let animal of animales" (click)="reproducir(animal)">
      <!--6.2. Vamos al archivo 'src/pages/home/home.ts':-->
      <ion-avatar item-start>
        <!--5.4. Por cada animal, le asignamos el valor de su propiedad 'imagen' al atributo 'src':-->
        <img [src]="animal.imagen">
      </ion-avatar>
      <!--5.5. Por cada animal, mostramos el valor de su atributo 'nombre'-->
      <h2>{{ animal.nombre }}</h2>
      <!--6.10. Mediante un '' mostramos u ocultamos los botones:-->
      <!--6.8. Le añadimos un icono de 'play' y lo situamos al margen derecho 'item-right':-->
      <ion-icon *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
      <!--6.9. Le añadimos un icono de 'pause' y lo situamos al margen derecho 'item-right':-->
      <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
      <!--7. Vamos al archivo 'src/pages/home/home.ts':-->
    </ion-item>
  </ion-list>
  <!--3. Vamos al archivo 'src/pages/home/home.ts':-->
</ion-content>
<!--1.3. Pegamos el contenido multimedia en la carpeta '02-sonidos/src/assets':-->
<!--1.4. Creamos el directorio '02-sonidos/src/datos' y pegamos el archivo 'data.animales.ts'-->